<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="profile-container">
    <img [src]="profileImageUrl" alt="Profile Picture" class="profile-picture">
    <ion-button (click)="openEditProfileModal()" fill="clear">
      <ion-icon name="create-outline"></ion-icon>
     </ion-button>

    <ion-item>
      <ion-label>Username: {{ username }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Email: {{ email }}</ion-label>
    </ion-item>

    <ion-item class="description">
      <ion-label>Description: {{ (userData$ | async)?.description }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Total Istilah: {{ istilahCount }}</ion-label>
    </ion-item>

    <ion-button expand="block" color="danger" (click)="logout()">Logout</ion-button>
  </div>
  <ion-searchbar (ionChange)="onSearch($event)" animated placeholder="Search your word"></ion-searchbar>

  <div>

    <ion-list *ngIf="(istilahList$ | async) as istilahList; else loading">
      <ion-item *ngFor="let istilah of istilahList" lines="full" (click)="openIstilahModal(istilah)">
        <ion-label>
          <h2>{{ istilah.judul }}</h2>
          <p>{{ istilah.deskripsi }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>
</ion-content>