<ion-header>
  <ion-toolbar>
    <img
      src="./assets/artidari.png"
      alt="artidari.icon"
      style="height: 40px; margin-top: 10px"
    />
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="profile-card">
    <ion-card-header class="profile-header">
      <img
        [src]="profileImageUrl"
        alt="Profile Picture"
        class="profile-picture"
      />
      <ion-button (click)="openEditProfileModal()" fill="clear">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content class="profile-info-section">
      <p class="description">{{ username }}</p>
      <p class="description2">{{ email }}</p>
      <p class="description2">{{ (userData$ | async)?.description }}</p>

      <hr />

      <p class="description2">Post Count</p>
      <div class="flex-container">
        <div class="center-element">
          <p class="description3">{{ istilahCount }}</p>
        </div>
        <div class="right-element">
          <ion-button fill="clear" color="danger" (click)="logout()">
            <ion-icon class="logout" name="log-out-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div>
    <ion-searchbar
      (ionChange)="onSearch($event)"
      animated
      placeholder="Search your word"
    ></ion-searchbar>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="(istilahList$ | async) as istilahList; else loading">
      <ion-card *ngFor="let istilah of istilahList" lines="full">
        <ion-card-header>
          <ion-card-title>
            <h1 (click)="openIstilahModal(istilah)">{{ istilah?.judul }}</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="name">
          <p (click)="openIstilahModal(istilah)">Tap to see istilah</p>

          <ion-icon class="like" name="thumbs-up"></ion-icon> {{ istilah.like }}

          <ion-icon class="dislike" name="thumbs-down"></ion-icon> {{ istilah.dislike }}
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>
</ion-content>
