@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

ion-header {
  ion-toolbar {
    --background: #1b274b; // Warna biru tua untuk header
    --color: #ffffff; // Warna teks putih
    text-align: center;
    font-weight: bold;
    height: 60px;
  }
}

.profile-card {
  background-color: #FFFFFF;
  color: #ffffff;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  font-family: "Work Sans", sans-serif;
}



.profile-picture {
  width: 100px; // Adjust size as needed
  height: 100px;
  border-radius: 50%; // Make it circular
  object-fit: cover; // Prevent image distortion
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Profile Image Section */
.profile-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.description {
  font-size: 24px;
  font-style: bold;
  color: #1b274b;
  margin-bottom: 5px;
}

.description2 {
  font-size: 13px;
  color: #444444;
  margin-bottom: 10px;
}

.description3 {
  font-size: 20px;
  color: #1E2952;
  margin-bottom: 10px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: #1E2952;
  width: 50%;
}

.logout{
  font-size: 25px;
}

.flex-container {
  display: flex;
  align-items: center;         
  position: relative;          
}

.center-element {
  position: absolute;          
  left: 50%;
  transform: translateX(-50%); 
}

.right-element {
  margin-left: auto;
  margin-right: 0px;
}

ion-searchbar {
  --background: #ffffff;
  --color: #1b274b;
}

ion-card {
  background-color: white;
  border-radius: 20px;
}

ion-card-title {
  display: flex;
}

.bookmark-button {
  margin-left: auto;
  margin-right: 0;
}

.report{
  margin-left: 0;
  margin-right: 0;
}

.name {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;

  p {
    align-self: center;
  }

  ion-button.like {
    margin-left: auto;
    margin-right: 0;
  }

  ion-button.dislike {
    margin-left: 0;
    margin-right: 0;
  }
}

h1,
span {
  color: #1e2952;
  font-weight: bold;
}

ion-card {
  color: black;
}

h1 {
  padding-top: 0;
  margin-top: 0;
  align-self: center;
}

ion-card-content.contoh {
  text-align: center;
  background-color: #1e2952;
}

ion-card-content.contoh p {
  color: white;
}