<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="./assets/artidari.png" alt="artidari.icon" style="height: 40px;  margin-top: 10px;">
  </ion-toolbar>
</ion-header>

<ion-content lines="none">
  <div class="container">
    <h1>Sign In</h1>
    <form (ngSubmit)="login()" [formGroup]="credentials" lines="none">
      <ion-item lines="none">
        <ion-input labelPlacement="stacked" type="email" label="Email" placeholder="Enter your Email" formControlName="email">
          <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        </ion-input>
        <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email is invalid</ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-input type="password" labelPlacement="stacked" label="Password" placeholder="Enter your Password"
          formControlName="password">
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        </ion-input>
        <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">Password needs to be 6
          characters</ion-note>
      </ion-item>
      <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Sign In</ion-button>
    </form>
    <ion-text>
      <p style="text-align: center;">or</p>
    </ion-text>
    <ion-button expand="block" (click)="googleLogin()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      <ion-text>Sign in with Google</ion-text>
    </ion-button>
    <ion-button (click)="goToRegister()" fill="clear" expand="block">Don't have an account? Register</ion-button>
  </div>
</ion-content>