<ion-content>
  <swiper-container
    #swiper
    (swiperinit)="swiperReady()"
    (swiperslidechange)="swiperSlideChanged($event)"
    [pagination]="true"
  >
    <swiper-slide>
      <img src="./assets/intro-bg-1.png" alt="intro-bg-1">

      <div class="main">
        <h1>Discover the Meaning Behind Every Word.</h1>
        <p>
          Unlock the depth of every word with clear definitions, synonyms, and
          contextual insights.
        </p>

        <ion-button (click)="next()">Next</ion-button>
      </div>
    </swiper-slide>
    <swiper-slide>
      <img src="./assets/intro-bg-2.png" alt="intro-bg-2">
        <div class="main">
          <h1>Quickly Understand Every Word’s Meaning</h1>
          <p>
            Search any word and receive an accurate definition along with
            context for better understanding with practical usage examples.
          </p>
          <ion-button class="register" (click)="startRegister()"
            >Register</ion-button
          >
          <ion-button (click)="startLogin()">Login</ion-button>
        </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
