<!-- edit-profile-modal.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content lines="none">
  <div class="profile-container">
    <img [src]="profileImageUrl" alt="Profile Picture" class="profile-picture">
    <ion-list lines="none">
      <ion-item>
        <ion-input labelPlacement="stacked" label="Username" [(ngModel)]="username">
          <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="stacked" label="Email" [(ngModel)]="email" [disabled]="true">
          <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea labelPlacement="stacked" label="Description" [(ngModel)]="description">
          <ion-icon slot="start" name="pencil" aria-hidden="true"></ion-icon>
        </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="saveChanges()">Update</ion-button>
  </div>
</ion-content>