<ion-header>
  <ion-toolbar>
    <ion-title>Update Istilah</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="flex">
  <div>
    <h3>Title</h3>
    <ion-item lines="none">
      <!-- <ion-label position="floating">Title</ion-label> -->
      <ion-input [(ngModel)]="istilah.judul"></ion-input>
    </ion-item>
  </div>

  <div>
    <h3>Description</h3>
    <ion-item lines="none">
      <!-- <ion-label position="floating">Description</ion-label> -->
      <ion-textarea [(ngModel)]="istilah.deskripsi"></ion-textarea>
    </ion-item>
  </div>

  <div>
    <h3>Example of Use</h3>
    <ion-item lines="none">
      <!-- <ion-label position="floating">Contoh</ion-label> -->
      <ion-textarea [(ngModel)]="istilah.contoh"></ion-textarea>
    </ion-item>
  </div>
  <div class="submit">
    <ion-button type="submit" expand="block" (click)="updateIstilah()">Update</ion-button>
  </div>
</ion-content>