<ion-header [translucent]="true">
  <ion-toolbar>
    <img
      src="./assets/artidari.png"
      alt="artidari.icon"
      style="height: 40px; margin-top: 10px"
    />
  </ion-toolbar>
  <ion-searchbar
    (ionChange)="onSearch($event)"
    animated
    placeholder="Type some word or phrase"
  ></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="(istilahList$ | async) as istilahList; else loading">
    <ion-card *ngFor="let istilah of istilahList" lines="full">
      <ion-card-header>
        <ion-card-title>
          <h1 (click)="openIstilahModal(istilah)">{{ istilah?.judul }}</h1>
          <ion-button
            class="bookmark-button"
            fill="clear"
            (click)="toggleBookmark(istilah)"
          >
            <ion-icon
              [name]="istilah.isBookmarked ? 'bookmark' : 'bookmark-outline'"
            ></ion-icon>
          </ion-button>
          <ion-button
            class="report"
            fill="clear"
            (click)="openReportModal(istilah.id)"
            ><ion-icon name="alert-circle"></ion-icon
          ></ion-button>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="name">
        <p (click)="openIstilahModal(istilah)">Tap to see istilah</p>

        <ion-button class="like" fill="clear" (click)="like(istilah)">
          <ion-icon name="thumbs-up"></ion-icon> {{ istilah.like }}
        </ion-button>

        <ion-button class="dislike" fill="clear" (click)="dislike(istilah)">
          <ion-icon name="thumbs-down"></ion-icon> {{ istilah.dislike }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>
</ion-content>
