<ion-header>
  <ion-toolbar>
    <ion-button slot="end" (click)="dismissModal()">Close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1>{{ istilah?.judul }}</h1>
        <ion-button
          class="bookmark-button"
          fill="clear"
          (click)="toggleBookmark(istilah!)"
        >
          <ion-icon
            [name]="istilah!.isBookmarked ? 'bookmark' : 'bookmark-outline'"
          ></ion-icon>
        </ion-button>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="name">
      <p>{{ istilah!.deskripsi }}</p>
      <br />
      <p>
        By <span>{{ istilah!.userName }}</span> at {{
        timestampToDate(istilah!.updatedAt) | date:'dd/MM/yyyy' }}
      </p>
      <br />
      <div class="buttons">
        <ion-button fill="clear" (click)="like(istilah!)">
          <ion-icon name="thumbs-up"></ion-icon> {{ istilah!.like }}
        </ion-button>

        <ion-button fill="clear" (click)="dislike(istilah!)">
          <ion-icon name="thumbs-down"></ion-icon> {{ istilah!.dislike }}
        </ion-button>

        <ion-button class="report" fill="clear" (click)="openReportModal(istilah!.id)"
          ><ion-icon name="alert-circle"></ion-icon
        ></ion-button>
      </div>
    </ion-card-content>
    <ion-card-content class="contoh">
      <p>{{ istilah!.contoh }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>