<ion-header>
  <ion-toolbar>
    <ion-title>Report Istilah</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="reportForm" (ngSubmit)="submitReport()">
    <ion-item>
      <ion-label>Alasan</ion-label>
      <ion-select formControlName="alasan" ok-text="Okay" cancel-text="Dismiss">
        <ion-select-option *ngFor="let alasan of alasanOptions" [value]="alasan">{{ alasan }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="!reportForm.valid">Submit</ion-button>
  </form>
</ion-content>