@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

ion-header {
  ion-toolbar {
    font-weight: bold;
    font-family: "Work Sans", sans-serif;
    color: #1b274b;
  }
}

ion-content {
  font-family: "Work Sans", sans-serif;
  color: #1b274b;
}

ion-button.submit {
  --background: #1b274b; // Warna biru tua untuk tombol
  --color: #ffffff; // Warna teks tombol
  border-radius: 8px;
  font-weight: bold;
  width: 200px;
  height: 25px;
  font-size: 16px;

  &:disabled {
    --background: #cccccc; // Warna abu-abu jika tombol disabled
  }
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}